.main-container {
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: center;
}

.results-container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.photograph-section {
    display: grid;
    grid-template-columns: 30% 70%;
}